/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgba(253, 237, 195, 0.44);

}

h1 {
    color: #ff6600;
}

button {
    background-color: #f8bfb3;
    color: black;
    border-radius: 10px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/*タイトル画面 title.htmlのcssはここで行う*/
.title {
    display: flex;
    padding: 100px 360px 50px 360px;
    justify-content: center;
    align-items: center;
    width: 1900x;
    height: 100x;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 90px;
    font-style: italic;
    font-weight: 500;
    line-height: 70px;
    /* 54.688% */
}

/*間取り選択画面 select_layout.htmlのcssはここで行う*/
.madori {
    display: flex;
    width: 1900px;
    height: 100px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
}