/* style.css */
body {
    text-align: center;
    font-family: Inter;
    text-align: center;
    background: rgba(253, 237, 195, 0.44);
}

h1 {
    color: black;
}

button {
    background-color: #ff6600;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/*タイトル画面*/
.title {
    display: flex;
    padding: 0px 360px 0px 360px;
    justify-content: center;
    align-items: center;
    width: 1197px;
    height: 130px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 128px;
    font-style: italic;
    font-weight: 500;
    line-height: 70px;
    /* 54.688% */
}