/* style.css デザインの編集は全部ここでかく */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgba(253, 237, 195, 0.44);
  margin: 20; /* ページ全体の余白を削除 */
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5em 0;  /*マージンを追加 */
}

button {
  background-color: #f8bfb3;
  color: black;
  border-radius: 10px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

/* タイトル画面 title.htmlのcssはここで行う */
.taitol {
  color: #273863;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  flex-shrink: 0;
  background: rgba(21, 199, 238, 0.28);
  width: auto;
  font-size: 90px;
  padding: 170px;
  flex-direction: row;
  margin-bottom: 20px; /* 画像とタイトルの下の余白を調整 */
}


/* 間取り選択画面 select_layout.htmlのデザイン　*/

/* ラジオボタンの○を消す */
input[type="radio"] {
  display: none;
}
/* 画像の周りに隙間をあける */
label img {
  margin: 3px;
  padding: 5px;
}
/* 未選択の場合、色を薄くする */
input[type="radio"] + label img {
  opacity:0.7;
}
/* 選択済みの場合、色を濃くする */
input[type="radio"]:checked + label img {
  opacity:1;
}

/* 運勢選択画面　select_destiny.htmlのデザイン　*/
/* ラジオボタンの選択肢を縦に並べる */
.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.radio-inline__label {
  font-size: 50px; /* 任意の文字サイズに調整 */
}


/*おみくじ結果画面　draw_fortune.htmlのデザイン */
  .haikei {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 25px;
    width: 100vw;
    height: 100vh; /* 画面の高さに合わせる */
  }
