/* style.css デザインの編集は全部ここ */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgba(253, 237, 195, 0.44);
  margin: 20; /* ページ全体の余白を削除 */
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5em 0; /* マージンを追加 */
}

button {
  background-color: #f8bfb3;
  color: black;
  border-radius: 10px;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* タイトル画面 title.htmlのcssはここで行う */
.taitol {
  color: #273863;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  flex-shrink: 0;
  background: rgba(21, 199, 238, 0.28);
  width: auto;
  font-size: 90px;
  padding: 170px;
  display: inline-block;
}

/* 間取り選択画面 select_layout.htmlのcssはここで行う */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* ラジオボタンのスタイル */
.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* カスタムラジオボタンのスタイル */
.radio-inline__label {
  display: inline-block;
  padding: 20px 35px;
  margin-right: 18px;
  border-radius: 3px;
  transition: all .2s;
  cursor: pointer; /* カーソルを追加 */
  font-size: 20px;
}

.radio-inline__input:checked + .radio-inline__label {
  border-radius: 10px;
  background: rgba(118, 223, 229, 0.51);
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
