<!-- confirmation.html 3番目のHTML! -->
<!DOCTYPE html>
<html>
  <head>
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
  </head>
  <body>
    <h1>よろしいでしょうか？{{ selected_layout }}</h1>
    <form action="/draw_fortune" method="POST">
      <input type="hidden" name="destiny" value="{{ selected_destiny }}" />
      <button type="submit">おみくじをひく</button><br><br>
    </form>

    <form action="/select_layout" method="GET">
      <button type="submit">戻る</button>
    </form>
  </body>
</html>