<!-- select_layout.html 2番目のHTML -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Layout</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <h1>間取りを選択してください</h1>
    <form action="/select_destiny" method="POST">
        <fieldset>
            {% for layout in layouts %}
            <input id="{{ layout }}" class="radio-inline__input" type="radio" name="layout" value="{{ layout }}"
                   {% if layout == '3ldk' %}checked="checked"{% endif %}/>
            <label class="radio-inline__label" for="{{ layout }}">
                {{ layout }}
            </label><br>
            {% endfor %}
        </fieldset>
        <button type="submit">Next</button>
    </form>
</body>
</html>
