<!-- select_destiny.html 3番目のHTML -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Destiny</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <h1>あげたい運気を選んでください</h1>
    <form action="/select_destiny" method="POST">
        <input type="hidden" name="layout" value="{{ selected_layout }}"> <!-- 選択したレイアウトをhiddenフィールドとして送信 -->
            {% for destiny in destinies %}
            <input id="{{ destiny }}" class="radio-inline__input" type="radio" name="destiny" value="{{ destiny }}"
                   {% if not selected_destiny and loop.first %}checked="checked"{% endif %}/> <!-- 最初の選択肢にchecked属性を追加 -->
            <label class="radio-inline__label" for="{{ destiny }}">
                {{ destiny }}
            </label><br>
            {% endfor %}
        <button type="submit">Next</button>
    </form>
</body>
</html>